/* aide à la relecture -- désactiver cette ligne avant publication de l’EPUB */
@import url(relecture.css);

/* frama-feuilles-de-style utilisées dans cet EPUB */
@import url(framabook.css);
@import url(captain-obvious.css);

/* largeur optimisée pour la lecture (XXX devrait être dans `framabook.css') */
body {
  max-width: 48em;
  margin: 0 auto;
}

/* règles spécifiques à « Histoires et cultures du Libre » */
.logos {
  margin: 5em auto;
}
.logos img {
  vertical-align: middle;
}
.figure {
  border: 0.5em solid #ddd;
  font-size: 0.8em;
  margin: 1em;
  padding: 0 3em;
  text-indent: 0;
}
.cadre_gris {
  background-color: #ddd;
  margin: 1em auto;
  padding: 0.5em 1em;
  text-indent: 0;
}

